@{
    Layout = "_LayoutAdmin";
}
<link rel="stylesheet" href="~/css/Admin/NhanVien/styleXemDanhSachNhanVien.css">
<div class="table1 container">
    <a href="/nhanvien/themnhanvien"><button type="button" class="btn btn-primary btn-add">Thêm nhân viên</button></a>
    <table id="verticalScroll" class="table table-sm table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Họ tên</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Email</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Sửa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.nhanvien as List<Nhanvien>)
            {   
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.HoTen)</td>
                    @* <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td> *@
                    <td>@item.NgaySinh.ToString("dd/MM/yyyy")</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sdt)</td>
                    <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
                    <td class="text-center"><a href="/nhanvien/suanhanvien/@Html.DisplayFor(modelItem => item.NhanVienId)"><i class="fad fa-edit"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
			$('#verticalScroll').DataTable({
				"scrollY": "380px",
				"scrollCollapse": true
			});
			$('.dataTables_length').addClass('bs-select');
		});
</script>