@{
    Layout = "_LayoutAdmin";
}
@model Shop.Models.Khachhang;
<link href="~/css/Admin/KhachHang/styleSuaKhachHang.css" rel="stylesheet" />
<div class="container mb-5 parent">
    <div class="mb-4">
        <h2><i class="far fa-edit"></i> Thông tin khách hàng</h2>
    </div>
    <form  asp-controller="KhachHang" asp-action="suakhachhang" method="POST">
        @foreach (var item in ViewBag.kh as List<Khachhang>)
        {
            <input name="KhachHangId" value="@Html.DisplayFor(itemModel => item.KhachHangId)" hidden/>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="HoTen">1. Họ tên</label>
                        <input type="text" class="form-control" id="HoTen" placeholder="Nhập họ tên" name="HoTen" value='@Html.DisplayFor(itemModel => item.HoTen)' autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                    <label for="Email">2. Email</label>
                    <input type="email" class="form-control" id="Email" placeholder="Nhập Email" name="Email" value='@Html.DisplayFor(itemModel => item.Email)' autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label for="DiaChi">3. Địa chỉ</label>
                <input type="text" class="form-control w-100" id="DiaChi" placeholder="Nhập địa chỉ" name="DiaChi" value='@Html.DisplayFor(itemModel => item.DiaChi)' autocomplete="off">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="NgaySinh">4. Ngày sinh</label>
                        <input type="date" class="form-control" id="NgaySinh" name="NgaySinh" value='@ViewBag.newDate' autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                    <label for="Sdt">5. Số điện thoại</label>
                    <input type="number" class="form-control" id="Sdt" name="Sdt" value='@Html.DisplayFor(itemModel => item.Sdt)' autocomplete="off">
                </div>
            </div>
        }
        @if(ViewBag.success!=null){
            <div class="alert alert-success" role="alert">
                @ViewBag.success
            </div>
        }
        @if(ViewBag.err!=null){
            <div class="alert alert-danger" role="alert">
                @ViewBag.err
            </div>
        }
        <input type="submit" class="btn-submit" value="&nbsp; Cập nhật">
        <i class="far fa-pencil-alt icon"></i>
    </form>
    
</div>