@model Shop.Models.Khachhang;
<link href="~/css/Customer/KhachHang/styleXemThongTinKhachHang.css" rel="stylesheet" />
<div class="container mb-5">
    <div>
        <h2>Thông tin tài khoản</h2>
    </div>
    <form  asp-controller="KhachHang" asp-action="LuuThongTinKhachHang" method="POST">
        @foreach (var item in ViewBag.kh as List<Khachhang>)
        {
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="HoTen">Họ tên</label>
                        <input type="text" class="form-control" id="HoTen" placeholder="Nhập họ tên" name="HoTen" value='@Html.DisplayFor(itemModel => item.HoTen)' autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" placeholder="Nhập Email" name="Email" value='@Html.DisplayFor(itemModel => item.Email)' autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label for="DiaChi">Địa chỉ</label>
                <input type="text" class="form-control w-100" id="DiaChi" placeholder="Nhập địa chỉ" name="DiaChi" value='@Html.DisplayFor(itemModel => item.DiaChi)' autocomplete="off">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="NgaySinh">Ngày sinh</label>
                        <input type="date" class="form-control" id="NgaySinh" name="NgaySinh" value="@item.NgaySinh.ToString("yyyy-MM-dd")" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                    <label for="Sdt">Số điện thoại</label>
                    <input type="number" class="form-control" id="Sdt" name="Sdt" value='@Html.DisplayFor(itemModel => item.Sdt)' autocomplete="off">
                </div>
            </div>
            <label for="changePass">Đổi mật khẩu: </label><input type="checkbox" class="ml-2" value="check" name="changePassword"><br>
            <div class="form-group">
                <label for="oldpassword">Mật khẩu cũ</label>
                <input type="password" class="form-control w-100" id="oldpassword" placeholder="Nhập mật khẩu cũ" name="oldpassword" autocomplete="off" disabled="">
                @if(ViewBag.err!=null){
                    <div class="alert alert-danger mt-2" role="alert">
                        @ViewBag.err
                    </div>
                }
            </div>
            <div class="form-group">
                <label for="newPass">Mật khẩu mới</label>
                <input type="password" class="form-control w-100" id="newPass" placeholder="Nhập mật khẩu mới" name="newPassword" autocomplete="off" disabled="">
            </div>
        }
        @if(ViewBag.success!=null){
            <div class="alert alert-success" role="alert">
                @ViewBag.success
            </div>
        }
        <input type="submit" class="btn-luu" value="Lưu">
    </form>
    
</div>
<script>
    $(document).ready(function(){
			$('input[type=checkbox]').change(function(){
				if ($(this).is(":checked")) {
					$('#oldpassword').removeAttr('disabled');
					$('#newPass').removeAttr('disabled');
				}
				else{
					$('#oldpassword').attr('disabled','');
					$('#newPass').attr('disabled','');
				}
			});
		});
</script>