<link href="~/css/Customer/SanPham/styleChitiet.css" rel="stylesheet" />
@using Microsoft.AspNetCore.Http;
@model Shop.Models.Binhluan;
<div class="container mb-5">
    @foreach (var item in ViewData["sanpham"] as List<Sanpham>)
    {
        <div class="list pt-4 pb-4">
            <a href="/sanpham/thucdon">menu </a><span class="pl-2 pr-2">/</span>
            <span>@Html.DisplayFor(modelItem => item.TenSanPham)</span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/@Html.DisplayFor(modelItem => item.HinhAnh.TenFile)" alt="anhsanpham" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="detail">
                    <p class="name">@Html.DisplayFor(modelItem => item.TenSanPham)</p>
                    <p class="gia">@Html.DisplayFor(modelItem => item.GiaBanLe) Đ</p><br>
                    <p class="mota m-2">@Html.DisplayFor(modelItem => item.Mota)</p>
                    <a href="/sanpham/dathang/@Html.DisplayFor(modelItem => item.SanPhamId)"><button>Mua ngay</button></a>
                    <p class="mt-5">Giao hàng tận nơi <span>1800 9061</span></p>
                </div>
            </div>
        </div>
    

        <div class="comment mt-5 ml-5">
            <span class="title">Bình luận</span><br>
            @if(@Context.Session.GetString("username")==null){
                <span style="color:red;font-size:13px">Yêu cầu đăng nhập</span><br>
            }
            <form asp-action="thembinhluan" asp-controller="binhluan" method="POST">
                <div class="cover-form">
                    <div class="comment-input mt-3">
                        <input type="text" hidden name="SanPhamId" value="@item.SanPhamId">
                        <input type="text" placeholder="Nhập bình luận" class="bg-light" name="NoiDung" >
                    </div>
                    <input type="submit" name="Nhập" hidden>
                </div>
                
            </form>
            <div class="list-comment mt-4">
                @if(ViewBag.empty!=null){
                    <span>@ViewBag.empty</span>
                }
                @foreach(var item2 in ViewBag.binhluan as List<Binhluan>){
                    <div class="comment-item mt-4">
                        <div class="avatar">
                            <span class="text-uppercase">@item2.TaiKhoan.Username</span>
                        </div>
                        <div class="content-comment ml-3">
                            <span class="font-weight-bold">@item2.TaiKhoan.Password</span><br>
                            <span>@item2.NoiDung</span><br>
                            @if(@Context.Session.GetString("username")!=null && String.Compare(item2.TaiKhoan.Password,@Context.Session.GetString("username"))==0){
                                <span><a href="/binhluan/xoabinhluan/@item2.BinhLuanId">Xóa</a></span>
                            }
                            
                        </div>
                    </div>
                    
                }
                
            </div>
        </div>
    }
</div>