@{
    Layout = "_LayoutAdmin";
}
<link rel="stylesheet" href="~/css/Admin/SanPham/styleXemDanhSachSanPham.css">

<div class="table1 container">
    <a href="/sanpham/themsanpham"><button type="button" class="btn btn-primary btn-add">Thêm sản phẩm</button></a>
    <table id="verticalScroll" class="table table-sm table-bordered table-striped table-hover w-100">
        <thead>
            <tr>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Giá bán lẻ</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Tên loại</th>
                <th scope="col">Khuyến mãi</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col"><a href="">Sửa</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.sanpham as List<Sanpham>)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TenSanPham)</td>
                    <td>@Html.DisplayFor(modelItem => item.Mota)</td>
                    <td class="giabanle">@Html.DisplayFor(modelItem => item.GiaBanLe)</td>
                    <td class="trangthai">@Html.DisplayFor(modelItem => item.TrangThai)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhanLoai.TenLoai)</td>
                    <td>@Html.DisplayFor(modelItem => item.KhuyenMai.PhanTramGiam)</td>
                    <td><div class="containImg"><img src="~/images/@Html.DisplayFor(modelItem => item.HinhAnh.TenFile)" alt=""></div></td>
                    <td class="text-center"><a href="/sanpham/suasanpham/@Html.DisplayFor(modelItem => item.SanPhamId)"><i class="fad fa-edit"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
			$('#verticalScroll').DataTable({
				"scrollY": "430px",
				"scrollCollapse": true,
                "columnDefs": [
                    {"width":"15%","targets": 0},
                    {"width":"30%","targets": 1}
                ]
			});
			$('.dataTables_length').addClass('bs-select');
		});
</script>