<link href="~/css/Customer/HoaDon/styleThongTinDonHangCuaKhachHang.css" rel="stylesheet" />
<div class="container">
    <div class="tieude">
        <h3>Đơn hàng của tôi</h3>
    </div>
    <div class="thongtin">
        <table align="center" id="verticalScroll" class="table table-sm table-bordered table-striped table-hover w-65">
            <thead>
                <tr>
                    <th scope="col">Mã đơn hàng</th>
                    <th scope="col">Ngày mua</th>
                    <th scope="col">Tiền giảm giá</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Hủy đơn hàng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.hoadon as List<Hoadon>)
                {
                    <tr>
                        <td><a href="/hoadon/xemchitietdonhang/@item.HoaDonId">@item.HoaDonId</a></td>
                        <td>@item.NgayTao.ToString("dd/MM/yyyy")</td>
                        <td>@item.TienGiamGia</td>
                        <td>@item.TongTienThanhToan</td>
                        <td>@item.TrangThai</td>
                        @if(item.TrangThai=="Chờ xử lý"){
                            <td><i class="huy" id="@item.HoaDonId">Hủy</i></td>
                        }
                        @if(item.TrangThai=="Đang giao hàng"){
                            <td><i class="nhanhang" id="@item.HoaDonId">Xác nhận nhận hàng</i></td>
                        }
                        @if(item.TrangThai!="Chờ xử lý" && item.TrangThai!="Đang giao hàng"){
                            <td><i class="nhanhang" id="@item.HoaDonId">Đã nhận hàng</i></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(() => {
        $(".huy").click(() => {
            let id = event.target.id;
            $.ajax({
                type:"POST",
                url:"@Url.Action("YeuCauHuyDonHang")",
                data:{mahd:id},
                success:(data)=>{
                    $("#"+id).text("Đã yêu cầu hủy");
                },
                error:(err)=>{
                    alert(err);
                }
            })
        });

        $(".nhanhang").click(() => {
            let id = event.target.id;
            $.ajax({
                type:"POST",
                url:"@Url.Action("XacNhanNhanHang")",
                data:{mahd:id},
                success:(data)=>{
                    $("#"+id).text("Đã nhận hàng");
                },
                error:(err)=>{
                    alert(err);
                }
            })
        });

        $('#verticalScroll').DataTable({
				"scrollY": "380px",
				"scrollCollapse": true
			});
		$('.dataTables_length').addClass('bs-select');
    });
</script>